html {
  font-size: 62.5%;
}

body {
  margin: 50px;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-image: linear-gradient(to bottom right, #f3877e, #8146d5, #241c89);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.6rem;
}

@media (min-width: 1290px) {
  body { align-items: center; }
}

a {
  text-decoration: none;
}

.wrapper {
  padding: 3rem 4rem 4rem;
  background: #ffffff;
  border-radius: 0.6rem;
}

@media (min-width: 1290px) {
  .wrapper {
    display: flex;
    flex-grow: 0;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.section {
  position: relative;
  min-width: 24rem;
}

.section + .section { margin: 4rem 0 0 0; }

@media (min-width: 1290px) {
  .section:after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(100% + 2rem);
    background: #f0e4fb;
  }
  
  .section:last-child:after { display: none; }
  .section + .section { margin: 0 0 0 4rem; }
}

.section__heading {
  margin: 0 0 1.4rem 0.3rem;
  font-size: 2.6rem;
  font-weight: 400;
  color: #212121;
}

.sub-section {
  background: #f6f5f9;
  margin-top: 2rem;
  border-radius: 0.3rem;
  overflow: hidden;
}

.sub-section__heading {
  font-size: 1.6rem;
  font-weight: 400;
  color: #212121;
  background: #ebe7f6;
  padding: 1.6rem 2rem;
  text-shadow: 1px 1px rgba(255,255,255, 1);
}

.term-list {
  list-style-type: none;
  margin: 0;
  padding: 0 2rem;
}

.item {
  display: flex;
  border-bottom: 1px solid #f0e4fb;
  padding: 1rem 0;
  color: #384356;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  text-shadow: 0.1rem 0.1rem rgba(255,255,255, 1);
  transition: color 0.2s;
}

.term-list__item:last-child .item { border-bottom: 0; }
.item:hover { color: #ff3857; }

footer { align-self: center; }

.footer-link {
  margin-top: 4rem;
  display: block;
}

svg {
  width: 8rem;
  fill: #fff;
  transition: fill 0.2s;
}

.footer-link:hover svg { fill: #f3877e; }