body {
  margin: 50px;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-image: linear-gradient(to bottom right, #f3877e, #8146d5, #241c89);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1290px) {
  body {
    align-items: center;
  }
}

a {
  text-decoration: none;
}

.wrapper {
  padding: 30px 40px 40px;
  background: #ffffff;
  border-radius: 3px;
}

@media (min-width: 1290px) {
  .wrapper {
    display: flex;
    flex-grow: 0;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.section {
  position: relative;
  min-width: 240px;
}

.section + .section { margin: 40px 0 0 0; }

@media (min-width: 1290px) {
  .section:after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
    background: #f0e4fb;
  }
  
  .section:last-child:after {
    display: none;
  }
  
  .section + .section {
    margin: 0 0 0 40px;
  }
}

.section__heading {
  margin: 0 0 14px 3px;
  font-size: 26px;
  font-weight: 600;
  color: #212121;
}

.sub-section {
  background: #f6f5f9;
  margin-top: 20px;
  border-radius: 3px;
  overflow: hidden;
}

.sub-section__heading {
  font-size: 18px;
  font-weight: 400;
  color: #212121;
  background: #ebe7f6;
  padding: 20px;
}

.term-list {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
}

.item {
  display: flex;
  border-bottom: 1px solid #f0e4fb;
  padding: 10px 0;
  min-width: 140px;
  color: #384356;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px rgba(255,255,255, 1);
  transition: color 0.2s;
}

.term-list__item:last-child .item {
  border-bottom: 0;
}

.item:hover {
  color: #ff3857;
}

footer {
  align-self: center;
}

.footer-link {
  margin-top: 40px;
  display: block;
}

svg {
  width: 80px;
  fill: #fff;
  transition: fill 0.2s;
}

.footer-link:hover svg {
  fill: #f3877e;
}